<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
                        http://www.springframework.org/schema/tx 
                     	http://www.springframework.org/schema/tx/spring-tx.xsd
                     	http://www.springframework.org/schema/aop 
                        http://www.springframework.org/schema/aop/spring-aop.xsd
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd    
                        http://www.springframework.org/schema/mvc    
						http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!-- 引入配置文件 -->
<!-- 	<bean id="propertyConfigurer" -->
<!-- 		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> -->
		<!-- 忽略没有找到的资源文件 -->
<!-- 		<property name="location" value="/WEB-INF/jdbc.properties" /> -->
<!-- 	</bean> -->

	<!-- 自动扫描 -->
	<context:component-scan base-package="com.sunny.renthouse" />

	<!-- 定义数据源 -->
	<bean id="mainDataSource" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://106.14.206.11:3306/renthouse?useUnicode=true&amp;characterEncoding=UTF-8" />
<!-- 		<property name="jdbcUrl" value="jdbc:mysql://10.224.86.12:3306/OSWIFI" /> -->
		<property name="username" value="root" />
		<property name="password" value="RentHouse123*" />
		<!-- 因为使用了org.mybatis.spring.mapper.MapperScannerConfigurer，所有暂时不用文件替换 -->
<!-- 		<property name="driverClass"><value>${jdbc.driverClassName}</value></property> -->
<!-- 		<property name="jdbcUrl"><value>${jdbc.url}</value></property> -->
<!-- 		<property name="username"><value>${jdbc.username}</value></property> -->
<!-- 		<property name="password"><value>${jdbc.password}</value></property> -->
		<!-- 检查数据库连接池中空闲连接的间隔时间，单位是分，默认值：240，如果要取消则设置为0 -->
		<!-- <property name="setIdleConnectionTestPeriodInMinutes" value="60" /> -->
		<!-- 连接池中未使用的链接最大存活时间，单位是分，默认值：60，如果要永远存活设置为0 -->
		<!-- <property name="setIdleMaxAgeInMinutes" value="30" /> -->
		<!-- 每个分区最大的连接数 -->
		<!-- 判断依据：请求并发数 -->
		<!-- <property name="maxConnectionsPerPartition" value="100" /> -->
		<!-- 每个分区最小的连接数 -->
		<!-- <property name="minConnectionsPerPartition" value="5" /> -->

		<property name="idleConnectionTestPeriod" value="60" />
		<property name="idleMaxAge" value="240" />
		<property name="maxConnectionsPerPartition" value="30" />
		<property name="minConnectionsPerPartition" value="10" />
		<property name="partitionCount" value="3" />
		<property name="acquireIncrement" value="5" />
		<property name="statementCacheSize" value="100" />
		<property name="releaseHelperThreads" value="3" />
	</bean>


 <bean id="dataSource"  
        class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">  
        <property name="targetDataSource">  
<!--             <ref local="mainDataSource" />   -->
<ref bean="mainDataSource"/>
        </property>  
    </bean>

	<!-- 数据源 jndi方式 -->
	<!-- <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean"> -->
	<!-- <property name="jndiName" value="jdbc/oswifids" /> -->
	<!-- <property name="resourceRef" value="true" /> -->
	<!-- </bean> -->

	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> -->
	<!-- <property name="driverClassName"> -->
	<!-- <value>com.mysql.jdbc.Driver</value> -->
	<!-- </property> -->
	<!-- <property name="url"> -->
	<!-- <value>jdbc:mysql://10.224.86.10:3306/OSWIFI</value> -->
	<!-- </property> -->
	<!-- <property name="username"> -->
	<!-- <value>osuser</value> -->
	<!-- </property> -->
	<!-- <property name="password"> -->
	<!-- <value>osWiFi2017*</value> -->
	<!-- </property> -->
	<!-- <property name="maxActive"> -->
	<!-- <value>255</value> -->
	<!-- </property> -->
	<!-- <property name="maxIdle"> -->
	<!-- <value>2</value> -->
	<!-- </property> -->
	<!-- <property name="maxWait"> -->
	<!-- <value>120000</value> -->
	<!-- </property> -->
	<!-- </bean> -->

	<!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 事务注解支持 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mapperLocations" value="classpath*:com/sunny/renthouse/**/META-INF/ibatis/*.xml" />
	</bean>

	<!-- 在指定包下自动查找mybatis的dao接口 -->
<!-- 	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> -->
<!-- 		<property name="basePackage" value="com/sunny/renthouse.dao" /> -->
<!-- 		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> -->
<!-- 	</bean> -->
</beans>
